.sale {
    .container {
        @extend %container;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        background-color: #E9EBE7;
        border-radius: 30px;

        margin-bottom: 150px;
    }

    &__img {
        max-width: 594px;
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 62px 75px 62px 0px;
    }

    &__title {
        @include text(50px, 700, 58px, $textColor);
    }

    &__subtitle {
        @include text(30px, 400, 35px, $textColor);
    }

    &__date {
        @include text(30px, 400, 35px, $textColor);
    }

    &__btn {
        display: flex;
        align-items: flex-end;
    }

    &__link {
        width: 233px;
        height: 82px;
        border-radius: 20px;
        background-color: #000000;
        
        @include text(18px, 400, 21px, $buttonTextColor);

        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0px 20px 20px 0px;
    }




}