.windows {
    .container {
        @extend %container;
    }

    &__title {
       
       margin-bottom: 80px;
    }

    &__heading {
        @include text(40px, 500, 47px, $textColor);

        margin-bottom: 80px;
    }

    &__par {
        @include text(30px, 400, 35px, $textColor);

        span {
            font-weight: 500;
        }
    }

    &__wrapper {
        position: relative;
    }

    &__box {
        display: flex;
        justify-content: space-between;

        margin-bottom: 230px;
    }

    &__link {
        @include text(24px, 400, 24px, $textColor);
        border-bottom: 1px solid #000000;
        
        display: block;
        height: 35px;
        width: 195px;

        position: absolute;
        right: 0%;
        bottom: -9%;
    }


}